<article class="content">
    <header>
      <h1>About</h1>
    </header>
    <h4 class="title is-size-4 has-text-weight-bold">Laura Martínez</h4>
    <h5 class="subtitle is-size-5">Photographer, Creative, Production</h5>
    <address class="subtitle is-size-6 has-text-weight-normal">
      <i class="fa fa-map-marker"></i> <span>London, United Kingdom</span>
      <p class="has-margin-top has-text-grey">From Caracas, Venezuela</p>
    </address>
    <p>
        I document life, places, the intimacy of people and love what I do. Is very important to me to have a narrative behind every shoot that I take, therefore my work shows an honest portrayl of feelings and expressions. I like to work in a natural environment with a previous planning and I love to give a warming welcome to my clients and making them feel part of the process and the session.
    </p>
  </article>