@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/mixins';
.modal {
  .modal-content {
    .modal-img {
      max-height: calc(100vh - 40px);
	  max-width: 100% !important;
	  width: auto !important;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

.slides-container {
	display: flex;
	flex-direction: column;
}

.slides {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  min-width: 65vw;
  height: 70%;
  border: none;
  margin: 0;
  padding: 0;
  @include touch() {
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
  }
  .slide {
    cursor: pointer;
    flex: 0 0 auto;
    padding: 0.3rem;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.7;
    @include touch() {
      opacity: 1;
      width: 100%;
      height: auto;
      ;
    }
    &:hover {
      opacity: 1;
    }
    img {
      object-fit: cover;
      object-position: center center;
      height: 100%;
      width: auto;
      @include touch() {
        width: 100%;
        height: auto;
      }
    }
  }
}

// .caption {
	
// }
