<article class="content">
  <header>
    <h1>Contact</h1>
  </header>
  <p>
    <a class="button is-light" [href]="mailtoInfo" target="_blank">Get a quote or request a portfolio copy</a>
  </p>
  <section>
    <address>
      <p>
        <i class="fa fa-phone"></i>:
        <a [href]="'tel:' + phoneNumber" target="_blank">{{phoneNumber}}</a>
      </p>
    </address>
    <address>
      <p>
        <i class="fa fa-instagram"></i> :
        <a href="https://www.instagram.com/laura_martinez_photography" target="_blank">laura_martinez_photography</a>
      </p>
    </address>
    <!-- <address>
      <p>
        t:
        <a href="">laura_martinez_photography</a>
      </p>
    </address> -->
    <!-- <address>
      <p>
        f:
        <a href="">laura_martinez_photography</a>
      </p>
    </address> -->
    <address>
      <p>
        <i class="fa fa-behance"></i> :
        <a href="https://www.behance.net/lauralalis" target="_blank">lauralalis</a>
      </p>
    </address>
    <address>
      <p>
        <i class="fa fa-wordpress"></i> :
        <a href="https://fotoanestesia.wordpress.com/" target="_blank">fotoanestesia</a>
      </p>
    </address>
    <address>
      <p>
        <i class="fa fa-tumblr"></i> : 
        <a href="http://lauralalis.tumblr.com/">Mi jardín de las Delicias</a>
      </p>
    </address>
  </section>
</article>