<div class="column">
  <h1 class="title is-size-4 has-text-weight-bold">Laura Martínez Photography</h1>
</div>
<nav class="menu">
  <ul class="menu-list">
    <li *ngFor="let section of sections">
	  <a [routerLink]="section.url" routerLinkActive="has-text-weight-bold" [routerLinkActiveOptions]="parentLinkOptions" [title]="section.name">{{section.name}}</a>
	  <ul *ngIf="section.subsections?.length">
		  <li *ngFor="let subsection of section.subsections">
				<a [routerLink]="subsection.url" routerLinkActive="has-text-weight-bold" [title]="subsection.name">{{subsection.name}}</a>
		  </li>
	  </ul>
    </li>
  </ul>
</nav>
