@import '~bulma/bulma.sass';
@import "~font-awesome/css/font-awesome.css";
@import "styles/typography/_all";

.box {
	border-radius: unset !important;
}

.has-margin-bottom {
	margin-bottom: 1rem;
}

.has-margin-bottom {
    margin-bottom: 0.7rem;
}

.has-margin-top {
    margin-top: 0.7rem;
}